.Score {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  position: fixed;
  top: 45%;
  left: 45%;
}
.Score--bounce{
  animation:Score-keyframes--bounce .8s ease-out
}
@keyframes Score-keyframes--bounce{
  0%,to { transform:rotate(0) }
  10% { transform:scale(1.1) }
  20% { transform:rotate(4deg) translateY(-12px) }
  40% { transform:rotate(2deg) translateY(0) }
  60% { transform:rotate(-2deg) translateY(-8px) }
  80% { transform:rotate(-1deg) translateY(0) }
}
